/**
 * Default colors
 */
$color-black: #20201f;
$color-gray-darker: #434241;
$color-gray-dark: #716f6c;
$color-gray: #b2ada7;
$color-gray-light: #dbd5cd;
$color-gray-lighter: #f9f5f0;
$color-white: #ffffff;

/**
 * Brand colors
 */
$color-blue-dark: #29505b;
$color-blue: #3d7c8d;
$color-blue-light: #68a5b6;

$color-brown-dark: #f18b57;
$color-brown: #ffb48e;
$color-brown-light: #fed7c3;

$color-red-dark: #eb5c36;
$color-red: #ff8e70;
$color-red-light: #ffc4b4;

$color-orange-dark: #f3a328;
$color-orange: #ffca78;
$color-orange-light: #ffe3b7;

$color-yellow-dark: #f2cf81;
$color-yellow: #f9e4b6;
$color-yellow-light: #fff4dd;
