$gap-xxs: 0.1rem;
$gap-xs: 0.3rem;
$gap-s: 0.6rem;
$gap-sm: 0.8rem;
$gap-m: 1rem;
$gap-l: 1.5rem;
$gap-xl: 2.3rem;
$gap-xxl: 3.5rem;
$gap-xxxl: 6rem;
$gap-xxxxl: 8.1rem;
$gap-xxxxxl: 13rem;

$gap-paragraph: $gap-xl;
// $gap-grid: $gap-xl;

@mixin gap-browser-edge {
  padding-right: $gap-m;
  padding-left: $gap-m;

  @include bp-min($bp-s) {
    padding-right: $gap-l;
    padding-left: $gap-l;
  }
  @include bp-min($bp-m) {
    padding-right: $gap-xxl;
    padding-left: $gap-xxl;
  }
}

$constrain-page: rem(1216);
$constrain-xl: rem(880);
$constrain-l: rem(720);
$constrain-m: rem(650);
$constrain-s: rem(520);
$constrain-xs: rem(385);
$constrain-text: $constrain-m;
/*
 * Constrains
 * Variable/mixin that set's the max width.
 */
@mixin constrain-page {
  max-width: $constrain-page;
}
@mixin constrain-xl {
  max-width: $constrain-l;
}
@mixin constrain-l {
  max-width: $constrain-l;
}
@mixin constrain-m {
  max-width: $constrain-m;
}
@mixin constrain-s {
  max-width: $constrain-s;
}
@mixin constrain-xs {
  max-width: $constrain-xs;
}
@mixin constrain-text {
  max-width: $constrain-text;
}

/*
 * Containers
 * Variable/mixin that set's the max width including the padding.
 */
@mixin container-page {
  @include constrain-page;
  @include gap-browser-edge;
  margin-right: auto;
  margin-left: auto;
}
@mixin container-l {
  @include constrain-l;
  @include gap-browser-edge;
  margin-right: auto;
  margin-left: auto;
}
@mixin container-m {
  @include constrain-m;
  @include gap-browser-edge;
  margin-right: auto;
  margin-left: auto;
}
@mixin container-s {
  @include constrain-s;
  @include gap-browser-edge;
  margin-right: auto;
  margin-left: auto;
}
@mixin container-xs {
  @include constrain-xs;
  @include gap-browser-edge;
  margin-right: auto;
  margin-left: auto;
}

.container-page {
  @include container-page;
}
