$gap-xxs: 0.1rem;
$gap-xs: 0.3rem;
$gap-s: 0.8rem;
$gap-m: 1rem;
$gap-l: 1.5rem;
$gap-xl: 2.3rem;
$gap-xxl: 3.5rem;
$gap-xxxl: 6rem;

$gap-browser-edge: $gap-m;
$gap-paragraph: $gap-xl;
// $gap-grid: $gap-xl;

$constrain-page: rem(1216);
$constrain-l: rem(880);
$constrain-m: rem(650);
$constrain-s: rem(520);
$constrain-xs: rem(385);

/*
 * Constrains
 * Variable/mixin that set's the max width.
 */
@mixin constrain-page {
  max-width: $constrain-page;
}
@mixin constrain-l {
  max-width: $constrain-l;
}
@mixin constrain-m {
  max-width: $constrain-m;
}
@mixin constrain-s {
  max-width: $constrain-s;
}
@mixin constrain-xs {
  max-width: $constrain-xs;
}

/*
 * Containers
 * Variable/mixin that set's the max width including the padding.
 */
@mixin container-page {
  max-width: $constrain-page;
  margin-right: auto;
  margin-left: auto;
}
@mixin container-l {
  max-width: $constrain-l;
  margin-right: auto;
  margin-left: auto;
}
@mixin container-m {
  max-width: $constrain-m;
  margin-right: auto;
  margin-left: auto;
}
@mixin container-s {
  max-width: $constrain-s;
  margin-right: auto;
  margin-left: auto;
}
@mixin container-xs {
  max-width: $constrain-xs;
  margin-right: auto;
  margin-left: auto;
}
