/* stylelint-disable selector-max-universal */

/**
 * Allows long words (like links) to be properly broken.
 */
@mixin word-break {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

@mixin hocus {
  &:hover,
  &:focus {
    @content;
  }
}

/**
 * Resets
 */

// Figure reset
@mixin figure-reset {
  margin: 0;
  line-height: 0;
  img {
    width: 100%;
    line-height: normal;
  }
}

// Bare button
@mixin bare-button {
  background: transparent;
  border: 0;
  cursor: pointer;
  appearance: none;
  &:active {
    outline: none;
  }
}

// Bare list
@mixin bare-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

/**
 * Dev mixins
 */
@mixin outline {
  * {
    outline: 1px solid lime;
  }
}

@mixin overlay-shadow {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($color-black, 0.8);
}

/**
 * HTML elements from WYSIWYG
 */
@mixin wysiwyg-content {
  img {
    width: 100%;
    display: block;
  }

  h2 {
    @include heading-m;
    margin: $gap-m 0;
    padding-top: $gap-xxl;

    @include bp-min($bp-m) {
      margin: $gap-xxl 0 $gap-m;
    }
  }

  h3 {
    @include text-l;
    @include font-weight-bold;
    margin: 0 0 $gap-xxs;
    padding-top: $gap-xl;
  }
  h4,
  h5,
  h6 {
    @include text-m;
    @include font-weight-bold;
    margin: 0 0 $gap-xxs;
    padding-top: $gap-xl;
  }

  h3,
  h4,
  h5,
  h6 {
    + p {
      margin-top: 0;
    }
  }

  p + p {
    margin: $gap-l 0;
  }

  a {
    color: $color-red-dark;
    text-decoration: none;

    @include hocus {
      color: $color-red;
    }
  }

  ol > li,
  ul > li {
    margin-top: $gap-l;
  }
  ul > li::marker,
  ol > li::marker {
    color: $color-red-dark;
  }
}
