<nav class="main-nav">
    <ul>
        {% for item in mainNav %}
            <li>
                <a href="{{ item.url }}">{{ item.label }}</a>
            </li>
        {% endfor %}
    </ul>
</nav>