.blog-author {
  display: flex;
  align-items: center;
  font-style: normal;
}
.blog-author__image {
  object-fit: cover;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}

.blog-author__name {
  margin: 0 0 0 $gap-m;
}
.blog-author__date {
  margin: 0 0 0 $gap-xs;
}
