.blog-preview {
  position: relative;
  height: 100%;
  transition: $quick $ease-out background-color, $quick $ease-out box-shadow;

  @include bp-min($bp-sm) {
    display: flex;
  }
  @include bp-min($bp-l) {
    flex-direction: column;
  }

  @include hocus {
    cursor: pointer;
    background-color: $color-white;
    box-shadow: $shadow-s;

    .blog-preview__link-mock {
      background-color: $color-brown-dark;
    }
  }
}

/**
 * Link
 */
.blog-preview__link {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/**
 * Image
 */
.blog-preview__img-wrapper {
  position: relative;
  margin: 0;
  padding: 0;

  @include bp-min($bp-sm) {
    width: 18rem;
    flex-shrink: 0;
    flex-grow: 0;
  }
  @include bp-min($bp-l) {
    overflow: hidden;
    width: 100%;
    padding-top: 66%;
  }
}
.blog-preview__img {
  width: 100%;
  display: block;

  @include bp-min($bp-l) {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    object-fit: cover;
  }
}

/**
 * Text
 */
.blog-preview__text-container {
  max-width: $constrain-s;
  padding: $gap-l $gap-l;

  @include bp-min($bp-sm) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 1;
    flex-grow: 0;
    padding: $gap-s $gap-l $gap-m;
  }
  @include bp-min($bp-l) {
    flex-shrink: 0;
    flex-grow: 1;
    padding: $gap-l $gap-l;
  }
}

.blog-preview__title {
  @include heading-xs;
  margin: 0;
}
.blog-preview__description {
  margin: $gap-s 0 auto 0;
}

.blog-preview__link-mock {
  display: inline-block;
  margin-top: $gap-l;
  padding: $gap-s $gap-ml;
  line-height: 1;
  background-color: $color-white;
  box-shadow: $shadow-s;
  transition: $quick $ease-out background-color;

  @include bp-min($bp-sm) {
    margin-top: auto;
  }
  @include bp-min($bp-l) {
    margin-top: $gap-l;
  }
}
