.blog-preview-list {
  @include bare-list;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: space-between;
  margin: -#{$gap-ml};

  @include bp-min($bp-l) {
    justify-content: stretch;
    align-items: stretch;
  }
}

.blog-preview-list--large .blog-preview-list__item:nth-of-type(1),
.blog-preview-list--large .blog-preview-list__item:nth-of-type(2) {
  width: calc(50% - (#{$gap-ml} * 2));
}

.blog-preview-list__item {
  margin: $gap-ml;
  padding: 0;
  flex-grow: 1;
  flex-shrink: 1;

  @include bp-min($bp-l) {
    width: calc(33% - (#{$gap-ml} * 2));
    flex-grow: 0;
    flex-shrink: 0;
  }
}
