.page-header-simple {
  background-color: $color-gray-lighter;
}
.page-header-simple__inner {
  @include container-xl;
  max-width: 30rem;
  padding-top: $gap-xxl;
  padding-bottom: $gap-xxxl;

  @include bp-min($bp-m) {
    padding-top: $gap-xxxl;
  }
  @include bp-min($bp-l) {
    max-width: $constrain-xl;
    padding-top: $gap-xxxxl;
    padding-bottom: $gap-xxxxl;
  }
}

.page-header-simple--empty .page-header-simple__inner {
  min-height: 25rem;
  @include bp-min($bp-m) {
    min-height: 34rem;
  }
}

.page-header-simple__title {
  @include heading-xl;
  @include word-break;
  margin: 0 0 $gap-m;
  text-align: center;
}
.page-header-simple__text {
  max-width: $constrain-l;
  margin: 0 auto;
  text-align: center;
}
