.page__section {
  @include container-page;
  margin-top: $gap-xxxl;
  margin-bottom: $gap-xxxl;

  @include bp-min($bp-xl) {
    margin-top: $gap-xxxxxl;
    margin-bottom: $gap-xxxxxl;
  }
}
.page__section--small {
  @include container-m;
}

.page__title {
  @include heading-m;
  text-align: center;
}
.page__title--left {
  text-align: left;
}
