.page-header-simple {
  background-color: $color-gray-lighter;
}
.page-header-simple__inner {
  @include container-xl;
  max-width: 30rem;
  padding-top: $gap-xxl;
  padding-bottom: $gap-xl;

  @include bp-min($bp-l) {
    max-width: $constrain-xl;
    padding-top: $gap-xxxl;
    padding-bottom: $gap-xxl;
  }
}
.page-header-simple__title {
  @include heading-xl;
  margin: 0 0 $gap-m;
  text-align: center;
}
.page-header-simple__text {
  max-width: $constrain-l;
  margin: 0 auto;
  text-align: center;
}
