.quote-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  margin: 5rem -#{$gap-xl};
}

.quote-list__item {
  max-width: 23rem;
  display: flex;
  margin: $gap-xl $gap-xl;
}

.quote-list__item:nth-of-type(3) {
  display: none;

  @include bp-min(1365px) {
    display: flex;
  }
}
