.topic-list {
  @include bare-list;
  display: flex;
  flex-direction: column;
  gap: $gap-m;

  @include bp-min($bp-s) {
    // margin-top: -3rem;
    flex-direction: row;
    justify-content: space-between;

    @supports (display: grid) {
      // Add precise aligned columns.
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

.topic-list__item {
  display: flex;
  flex-grow: 0;
  margin: $gap-m;

  @supports (display: grid) {
    margin: 0;
  }
}
