.blog__content {
  @include container-text;
  @include text-l;
  margin-top: -18rem;

  @include bp-min($bp-m) {
    margin-top: -25rem;
  }

  @include wysiwyg-content;

  h2,
  h3,
  h4,
  h5,
  h6 {
    @include text-l;
    @include font-weight-bold;
    margin: $gap-xxl 0 $gap-xxs;
    padding-top: 0;
  }
}

.blog__title {
  @include heading-m;
  margin: 0;
}

.blog__footer {
  @include container-text;
  border-top: 1px solid $color-gray;
  margin-bottom: $gap-xxxl;
  padding-top: $gap-l;
}
