.text-page__content {
  @include container-text;

  /**
    * HTML elements from WYSIWYG
    */
  img {
    width: 100%;
  }

  h2 {
    @include heading-m;
    margin: 0 0 $gap-m;
    padding-top: $gap-xxl;
  }
  h2:first-of-type {
    margin-top: -#{$gap-xxl};
  }
  h3,
  h4,
  h5,
  h6 {
    @include text-l;
    @include font-weight-bold;
    margin: 0 0 $gap-xxs;
    padding-top: $gap-xl;
  }
  h3,
  h4,
  h5,
  h6 {
    + p {
      margin-top: 0;
    }
  }

  p + p {
    margin: 0 0 $gap-l;
  }

  a {
    color: $color-red-dark;
    text-decoration: none;

    @include hocus {
      color: $color-red;
    }
  }

  ul > li {
    margin-top: $gap-l;
  }
}

.text-page__content--no-nav {
  margin-top: $gap-xxxl;
}
