---
pagination:
  data: content
  size: 1
  alias: content
layout: layouts/base.njk
permalink: '/blog/'
eleventyComputed:
  title: '{{ blogOverview.meta.title }}'
  description: '{{ blogOverview.meta.description }}'
---

{% module "header", {
  navigation: mainNav,
  permalink: 'blog'
} %}

<div class="text-page">
  {% module 'page-header-simple' %}

  <div class="page__section page page__reduce-top">
    {% module 'blog-preview-list', {
      posts: collections.blog | reverse,
      smallPreview: false
    } %}
  </div>
</div>
