<svg width="22" height="10" viewBox="0 0 22 10" xmlns="http://www.w3.org/2000/svg"><g stroke="#979797" stroke-width="2" fill="none" fill-rule="evenodd" stroke-linecap="square"><path d="M2 8l8.735-5.743M20 8l-8.694-5.743"/></g></svg>
