<svg aria-hidden="true" width="17" height="12" viewBox="0 0 17 12" xmlns="http://www.w3.org/2000/svg"><g stroke="currentColor" stroke-width="1.667" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round"><path d="M1 5.833h15M1 .833h15M1 10.833h15"/></g></svg>
