---
pagination:
    data: content
    size: 1
    alias: content
layout: layouts/base.njk
permalink: '/contact/'
eleventyComputed:
  title: '{{ contact.pageHeader.title }}'
  description: '{{ contact.meta.description }}'
---

{% module "header", {
  navigation: mainNav,
  permalink: 'contact'
} %}

<article class="text-page login-page">
  {% module 'page-header-simple', {
    title: contact.pageHeader.title,
    text: contact.pageHeader.text
  } %}

  <section class="text-page__content">
    {% set asHTML = contact.content.text | markdown | safe %}
    {% wysiwyg asHTML, {
      quotes: quotes,
      timeline: timeline,
      content: content,
      pjotr: pjotr,
      getAcquainted: getAcquainted,
      getAcquaintedSingleButton: getAcquaintedSingleButton,
      pagesPreview: pagesPreview
    } %}
  </section>

  <section class="text-page__content">
    <h2 id="kennismaking">{{ contact.content.appointmentTitle }}</h2>
    <script type="text/javascript" src="https://www.coachaccountable.com/offering/STeUcD5wx5XI8QCm3OzHEskpQn0ezCM"></script>
  </section>

</article>
