<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ labels.title }} || Brain method</title>

    <link rel="stylesheet" href="/assets/styles/base.css" />

    <link rel="preload" href="/assets/fonts/dm-serif-display/dm-serif-display-regular.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/assets/fonts/roboto/roboto-regular.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/assets/fonts/roboto/roboto-700.woff2" as="font" type="font/woff2" crossorigin>
  </head>

  <body>
    {% include "modules/header.njk" %}

    <main>{{ content | safe }}</main>

    {% include "modules/footer.njk" %}

    <script src="/assets/scripts/bundle.js"></script>
  </body>
</html>
