<!DOCTYPE html>
<html
  lang="nl"
  data-enhancer="toggleTarget"
  data-toggle-subject="header"
  data-toggle-initialize-closed="true"
>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% if title %}
        {{ title }}
      {% else %}
        Phantus
      {% endif %}
    </title>


    <link rel="stylesheet" href="/assets/styles/base.css" />

    <link rel="preload" href="/assets/fonts/dm-serif-display/dm-serif-display-regular.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/assets/fonts/roboto/roboto-regular.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/assets/fonts/roboto/roboto-700.woff2" as="font" type="font/woff2" crossorigin>

    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/assets/images/favicon/site.webmanifest">

    {% if description %}
      <meta name="description" content="{{ description }}">
    {% endif %}

    {% if env.useGA == 'true' %}
      <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-M8B5DS7');</script>
      <!-- End Google Tag Manager -->
    {% endif %}

    <script>
      var cutsMustard = 'querySelector' in document && 'addEventListener' in window;

      // Add JS class to body to indicate the browsers can parse the provided js.
      if (cutsMustard ) {
        document.querySelector('html').classList.add('js');
      }
    </script>
  </head>

  <body>
    {% if env.useGA == 'true' %}
      <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M8B5DS7" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <!-- End Google Tag Manager (noscript) -->
    {% endif %}

    <main>{{ content | safe }}</main>

    {% module "footer", {
      footer: footer
    } %}

    <script src="/assets/scripts/bundle.js"></script>
  </body>
</html>
