---
pagination:
  data: content
  size: 1
  alias: content
layout: layouts/base.njk
---

<article class="blog">
  {% module 'page-header-simple', {
    empty: true
  } %}

  <section class="blog__content">
    <h1 class="blog__title">{{ title }}</h1>
    {{ content | safe }}
  </section>
</article>
