---
pagination:
  data: content
  size: 1
  alias: content
layout: layouts/base.njk
---

<article class="text-page">
  {% module 'page-header-simple', {
    title: title
  } %}

  <section class="text-page__content text-page__content--no-nav">
    {{ content | safe }}
  </section>
</article>
