---
pagination:
  data: content
  size: 2
  alias: content
layout: layouts/base.njk
---

{% module "header", {
  navigation: mainNav,
  permalink: 'blog'
} %}

<article class="blog">
  {% module 'page-header-simple', {
    empty: true
  } %}

  <section class="blog__content">
    <h1 class="blog__title">{{ title }}</h1>
    {% set asHTML = content | markdown | safe %}
    {% wysiwyg asHTML, {
      quotes: quotes,
      timeline: timeline,
      content: content,
      pjotr: pjotr,
      topics: homePage.mainTopics.topics,
      faq: faq,
      getAcquainted: getAcquainted,
      pagesPreview: pagesPreview
    } %}
  </section>

  <footer class="blog__footer">
    {% module 'blog-author', {
      name: author,
      imageUrl: authorImage,
      date: date
    } %}
  </footer>
</article>

<section class="colored-block">
  <div class="colored-block__inner">
    <h2 class="page__title">Meer lezen?</h2>
    {% module 'blog-preview-list', {
      posts: collections.blog | reverse,
      smallPreview: true
    } %}
  </div>
</section>
