--- 
    pagination: 
        data: content
        size: 1 
        alias: content
    permalink: "{{ page.filePathStem.replace('/_pages', '').replace('/index', '') }}/index.html"
    layout: layouts/base.njk
---

<p>index template</p>
<h1>{{ content.title }}</h1>