<section class="blog-preview" id="{{ title | slug }}">
  <a class="blog-preview__link" href="{{ url }}">
    <span class="sr-only">Lees blog: {{ title }}</span>
  </a>
  <figure class="blog-preview__img-wrapper">
    <img class="blog-preview__img" src="{{ image }}?nf_resize=fit&w=630" alt="" data-enhancer="objectFit">
  </figure>

  <div class="blog-preview__text-container">
    <h2 class="blog-preview__title">{{ title }}</h2>
    <p class="blog-preview__description">{{ description }}</p>
    <span class="blog-preview__link-mock" aria-hidden="true">Lees artikel</span>
  </div>
</section>
