<address class="blog-author">
  <img class="blog-author__image" data-enhancer="objectFit" src="{{ imageUrl }}" alt="{{ name }}">
  <p class="blog-author__name">{{ name }}, </p>
  <datetime class="blog-author__date">{{ date | date("DD-MM-YYYY") }}</datetime>
</address>
