{% set classes = {
  'blog-preview-list': true,
  'blog-preview-list--large': smallPreview === false
} | classes %}

{% set max = 1000 %}
{% if smallPreview === true %}
  {% set max = 3 %}
{% endif %}

<ol class="{{ classes }}">
  {% for blog in posts %}
    {% if (loop.index <= max) %}
      <li class="blog-preview-list__item">
        {% module 'blog-preview', {
          title: blog.data.title,
          description: blog.data.description,
          image: blog.data.image,
          url: blog.url
        } %}
      </li>
    {% endif %}
  {% endfor %}
</ol>
