<address class="blog-author">
  <img class="blog-author__image" src="" alt="Pjotr">
  <p class="blog-author__name">Pjotr Peulen</p>
  <datetime class="blog-author__date">14-03-1992</datetime>
</address>
