<div>
  {% for section in sections %}
      {% if section.component == 'text-media' %}
        {% if section.show %}
          <div class="page__section">
            {% module 'text-media', section %}
          </div>
        {% endif %}
      {% endif %}
      {% if section.component == 'preview' %}
          <div class="page__section page__section--medium">
            {% module 'preview', section %}
          </div>
      {% endif %}
      {% if section.component == 'topics' %}
          <div class="text-page__breakout">
            {% module 'topic-list', section %}
          </div>
      {% endif %}
  {% endfor %}
</div>
