<div>
  {% for section in sections %}
      {% if section.component == 'text-media' %}
        {% if section.show %}
          <div class="page__section">
            {% module 'text-media', {
              title: section.title,
              sections: section.sections,
              imgSrc: section.image,
              imgAlt: section.imgAlt,
              imgCaption: section.imgCaption,
              type: section.order
            } %}
          </div>
        {% endif %}
      {% endif %}
  {% endfor %}
</div>
