<div>
  {% for section in sections %}
      {% if section.component == 'text-media' %}
        {% if section.show %}
          <div class="page__section">
            {% module 'text-media', section %}
          </div>
        {% endif %}
      {% endif %}

      {% if section.component == 'preview' %}
          <div class="page__section page__section--medium">
            {% module 'preview', section %}
          </div>
      {% endif %}

      {% if section.component == 'topics' %}
          <div class="text-page__breakout">
            {% module 'topic-list', section %}
          </div>
      {% endif %}

      {% if section.component == 'rich-text' %}
        {% if section.show %}
            {% module 'rich-text', section %}
        {% endif %}
      {% endif %}

      {% if section.component == 'embed' %}
        {% if section.show %}
          <div class="page__section">
            {% module 'embed', section %}
          </div>
        {% endif %}
      {% endif %}

      {% if section.component == 'buttons' %}
          {% module 'buttons', section %}
      {% endif %}

      {% if section.component == 'calandy-button' %}
          {% module 'calandy-button', section %}
      {% endif %}

      {# Exception, modules gets all sections to create a list of items based on this data. #}
      {% if section.component == 'in-page-nav-for-flexibles' %}
          {% inPageNavForFlexibles sections %}
      {% endif %}
  {% endfor %}
</div>
