<div class="get-acquainted">
  {% if onContact %}
    <a href="#kennismaking" class="link" id="plan-kennismaking">{{ label }}</a>
  {% else %}
    <a href="/contact#kennismaking" class="link" id="plan-kennismaking">{{ label }}</a>
  {% endif %}
</div>
