<nav class="navigation">
    <ul class="navigation__list">
      {% for item in navigation.items %}
        {% navItem item.url, item.label, permalink  %}
      {% endfor %}

      <li class="navigation__item">
        <a class="navigation__link" href="https://pjotr-peulen-s-school.teachable.com">
           {% part 'avatar' %}
        </a>
      </li>
    </ul>
</nav>

