<nav class="navigation">
    <ul class="navigation__list">
      <li class="navigation__item"><a class="navigation__link" href="/voor-jou">Voor jou</a></li>
      <li class="navigation__item"><a class="navigation__link" href="/voor-organisaties">Voor organisaties</a></li>
      <li class="navigation__item"><a class="navigation__link" href="/voor-zorgverleners">Voor zorgverleners</a></li>
      <li class="navigation__item"><a class="navigation__link" href="/blog">Blog</a></li>
      <li class="navigation__item"><a class="navigation__link" href="/contact">Contact</a></li>
    </ul>
</nav>

