<header class="page-header">
  <div class="page-header__inner">
    <div class="page-header__text-container">
      <h1 class="page-header__title">{{ title }}</h1>
      {% if text %}
        <p class="page-header__text">{{ text }}</p>
      {% endif %}

      <div class="page-header__links-container">
        {% for link in links %}
          {% part 'link', {
            label: link.label,
            href: link.href
          } %}
        {% endfor %}
      </div>

    </div>
  </div>
</header>
