<header class="page-header">
  <div class="page-header__inner">
    <div class="page-header__text-container">
      <h1 class="page-header__title">{{ title }}</h1>
      <p class="page-header__text">{{ text }}</p>

      <div class="page-header__links-container">
        {% for cta in ctas %}
          {% part 'link', {
            label: cta.label,
            href: cta.href
          } %}
        {% endfor %}
      </div>

    </div>
  </div>
</header>
