{% set classes = {
  'page-header-simple': true,
  'page-header-simple page-header-simple--empty': empty === true
} | classes %}

<header class="{{ classes }}">
  <div class="page-header-simple__inner">
    {% if title %}
      <h1 class="page-header-simple__title">{{ title | safe }}</h1>
    {% endif %}

    {% if text %}
      <p class="page-header-simple__text">{{ text }}</p>
    {% endif %}
  </div>
</header>
