<div class="pjotr">
  {% module 'text-media', {
    sections: [{
      title: title,
      text: text
    }],
    type: "text-image",
    imgSrc: image,
    imgAlt: title,
    smallImg: true
  } %}
</div>
