<div class="quote-list">
  <div class="quote-list__item">
    {% module 'quote', {
      text: "Ga productiever te werk en vind de tijd om jouw leven in te richten zoals het jou gelukkig maakt. Begin de dag energiek en gemotiveerd en vind de juiste focus. Vitaliteitscoaching geeft je praktische tips en tools om je leven efficient en productief in te delen. Zo hou je ruimte over voor de dingen die jou gelukkig maken.",
      author: "Vera Rademaker"
    } %}
  </div>
  <div class="quote-list__item">
    {% module 'quote', {
      text: "Ga productiever te werk en vind de tijd om jouw leven in te richten zoals het jou gelukkig maakt. Begin de dag energiek en gemotiveerd en vind de juiste focus. Vitaliteitscoaching geeft je praktische tips en tools om je leven efficient en productief in te delen. Zo hou je ruimte over voor de dingen die jou gelukkig maken. Ga productiever te werk en vind de tijd om jouw leven in te richten zoals het jou gelukkig maakt. Begin de dag energiek en gemotiveerd en vind de juiste focus. Vitaliteitscoaching geeft je praktische tips en tools om je leven efficient en productief in te delen. Zo hou je ruimte over voor de dingen die jou gelukkig maken.",
      author: "Vera Rademaker"
    } %}
  </div>
  <div class="quote-list__item">
    {% module 'quote', {
      text: "Ga productiever te werk en vind de tijd om jouw leven in te richten zoals het jou gelukkig maakt. Begin de dag energiek en gemotiveerd en vind de juiste focus. Vitaliteitscoaching geeft je praktische tips en tools om je leven efficient en productief in te delen. Zo hou je ruimte over voor de dingen die jou gelukkig maken.",
      author: "Vera Rademaker"
    } %}
  </div>
</div>
