<div class="quote-list">
  {% for quote in quotes %}

    {# Only render the first 3 items from the list #}
    {% if loop.index <= 3 %}
      <div class="quote-list__item">
        {% module 'quote', quote %}
      </div>
    {% endif %}
  {% endfor %}
</div>
