<figure class="quote">
  <span class="quote__icon" aria-hidden="true">
    {% part 'quotes' %}
  </span>

  <blockquote class="quote__text-container">
    <p class="quote__text">{{ text }}</p>
  </blockquote>

  <figcaption class="quote__author">{{ author }}</figcaption>
</figure>
