{% set classes = {
  'text-media': true,
  'text-media--mirrored': type === 'text-image',
  'text-media--small-img': smallImg === true
} | classes %}

<section class="{{ classes }}">
  {% if title %}
    <h2 class="text-media__title" id="{{ title | slug }}">{{ title }}</h2>
  {% endif %}

   {% if imgSrc %}
    <figure class="text-media__img-container">
      <img class="text-media__img" src="{{ imgSrc }}?nf_resize=fit&w=500" width="450" height="450" alt="{{ imgAlt }}">

      {% if imgCaption %}
        <figcaption class="text-media__caption">{{ imgCaption }}</figcaption>
      {% endif %}
    </figure>
  {% endif %}

  {% if sections %}
    <div class="text-media__text-container">
      {% for section in sections %}
        {% if section.title %}
          <h3 class="text-media__section-title">{{ section.title }}</h3>
        {% endif %}
        <p class="text-media__section-text">{{ section.text }}</p>
      {% endfor %}
    </div>
  {% endif %}
</section>
