<ol class="timeline">
  {% for item in timelineItem %}
    <li class="timeline__item">
      <div class="timeline__inner">
        <h3 class="timeline__title">{{ item.title }}</h3>
        <p class="timeline__text">{{ item.text }}</p>
      </div>
    </li>
  {% endfor %}
</ol>
