<h2 class="sr-only">Belangrijkste onderwerpen</h2>

<ul class="topic-list">
  {% for topic in topics %}
    <li class="topic-list__item">
      {% module 'topic', topic %}
    </li>
  {% endfor %}
</ul>
