---
pagination:
  data: content
  size: 1
  alias: content
layout: layouts/base.njk
permalink: '/bedrijven/'
eleventyComputed:
  title: '{{ forCompanies.meta.title }}'
  description: '{{ forCompanies.meta.description }}'
---

{% module "header", {
  navigation: mainNav,
  permalink: 'bedrijven'
} %}

<article class="text-page">
  {% module 'page-header-simple', {
    title: forCompanies.pageHeader.title,
    text: forCompanies.pageHeader.text
  } %}

  {% inPageNav forCompanies.content.text | markdown | safe %}

  <section class="text-page__content">
    {% set asHTML = forCompanies.content.text | markdown | safe %}
    {% wysiwyg asHTML, {
      quotes: quotes,
      timeline: timeline,
      content: content,
      pjotr: pjotr,
      topics: topics.forCompanies.topics,
      faq: faq.faqCompanies,
      getAcquainted: getAcquainted,
      getAcquaintedSingleButton: getAcquaintedSingleButton,
      pagesPreview: pagesPreview
    } %}
  </section>

  {% module 'flexible-content', {
    sections: forCompanies.flexibleContent.sections
  } %}

</article>

{% part 'calandy-kennismaking' %}
