---
pagination:
  data: content
  size: 1
  alias: content
layout: layouts/base.njk
permalink: '/voor-zorgverleners/'
eleventyComputed:
  description: '{{ forCaregivers.meta.description }}'
---

{% module "header", {
  navigation: mainNav,
  permalink: 'voor-zorgverleners'
} %}

<article class="text-page">
  {% module 'page-header-simple', {
    title: forCaregivers.pageHeader.title,
    text: forCaregivers.pageHeader.text
  } %}

  {% inPageNav forCaregivers.content.text | markdown | safe %}

  <section class="text-page__content">
    {% set asHTML = forCaregivers.content.text | markdown | safe %}
    {% wysiwyg asHTML, {
      quotes: quotes,
      timeline: timeline,
      content: content,
      pjotr: pjotr,
      topics: topics.forCaregivers.topics,
      faq: faq.forCaregivers,
      getAcquainted: getAcquainted,
      getAcquaintedSingleButton: getAcquaintedSingleButton,
      pagesPreview: pagesPreview
    } %}
  </section>

</article>
