---
pagination:
  data: content
  size: 1
  alias: content
layout: layouts/base.njk
permalink: '/voor-organisaties/'
---

{% module "header", {
  navigation: mainNav,
  permalink: 'voor-organisaties'
} %}

<article class="text-page">
  {% module 'page-header-simple', {
    title: forOrganisations.pageHeader.title,
    text: forOrganisations.pageHeader.text
  } %}

  {% inPageNav forOrganisations.content.text | markdown | safe %}

  <section class="text-page__content">
    {{ forOrganisations.content.text | markdown | safe }}
  </section>

</article>
