---
pagination:
  data: content
  size: 1
  alias: content
layout: layouts/base.njk
permalink: '/voor-jou/'
---

{% module "header", {
  navigation: mainNav,
  permalink: 'voor-jou'
} %}

<article class="text-page">
  {% module 'page-header-simple', {
    title: forYou.pageHeader.title,
    text: forYou.pageHeader.text
  } %}

  {% inPageNav forYou.content.text | markdown | safe %}

  <section class="text-page__content">
    {% set asHTML = forYou.content.text | markdown | safe %}
    {% wysiwyg asHTML, {
      quotes: quotes,
      timeline: timeline,
      content: content,
      pjotr: pjotr,
      topics: homePage.mainTopics.topics,
      faq: faq.forYou,
      getAcquainted: getAcquainted,
      pagesPreview: pagesPreview
    } %}
  </section>

</article>
