---
pagination:
  data: content
  size: 1
  alias: content
layout: layouts/base.njk
permalink: '/coaching/'
eleventyComputed:
  title: '{{ forYou.meta.title }}'
  description: '{{ forYou.meta.description }}'
---

{% module "header", {
  navigation: mainNav,
  permalink: 'coaching'
} %}

<article class="text-page">
  {% module 'page-header-simple', {
    title: forYou.pageHeader.title,
    text: forYou.pageHeader.text
  } %}

  {% inPageNav forYou.content.text | markdown | safe %}

  <section class="text-page__content">
    {% set asHTML = forYou.content.text | markdown | safe %}
    {% wysiwyg asHTML, {
      quotes: quotes,
      timeline: timeline,
      content: content,
      pjotr: pjotr,
      topics: topics.forYou.topics,
      faq: faq.forYou,
      getAcquainted: getAcquainted,
      getAcquaintedSingleButton: getAcquaintedSingleButton,
      pagesPreview: pagesPreview
    } %}
  </section>

</article>
