---
pagination:
  data: content
  size: 1
  alias: content
layout: layouts/base.njk
permalink: '/voor-jou/'
---

<article class="text-page">
  {% module 'page-header-simple', {
    title: "Brainmaster Method voor jou",
    text: "Voel je gezonder, energieker en gelukkiger in enkele weken door een uniek wetenschappelijk perspectief op mentaal welzijn."
  } %}

  <nav>NAV</nav>

  <section>
    WYSIWYG
  </section>

</article>
