---
permalink: '/admin/'
---

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Content Manager</title>
  </head>
  <body>
    <!-- Include the script that builds the page and powers Netlify CMS -->
    <script src="https://unpkg.com/netlify-cms@^2.0.0/dist/netlify-cms.js"></script>

    <!-- Netlify Identity Widget -->
    <script
      type="text/javascript"
      src="https://identity.netlify.com/v1/netlify-identity-widget.js"
    ></script>

    <!-- Netlify Markdown Blocks -->
    <script>
      window.CMS.registerEditorComponent({
        // Internal id of the component
        id: 'testimonials',

        // Visible label
        label: 'Testimonials',

        // Pattern to identify a block as being an instance of this component
        pattern: /^testimonials (\S+)$/,

        // Function to create a text block from an instance of this component
        toBlock: function (obj) {
          return `[testimonials]`
        }
      })
      window.CMS.registerEditorComponent({
        // Internal id of the component
        id: 'timeline',

        // Visible label
        label: 'Timeline',

        // Pattern to identify a block as being an instance of this component
        pattern: /^timeline (\S+)$/,

        // Function to create a text block from an instance of this component
        toBlock: function (obj) {
          return `[timeline]`
        }
      })
      window.CMS.registerEditorComponent({
        // Internal id of the component
        id: 'pjotr',

        // Visible label
        label: 'Pjotr',

        // Pattern to identify a block as being an instance of this component
        pattern: /^pjotr (\S+)$/,

        // Function to create a text block from an instance of this component
        toBlock: function (obj) {
          return `[pjotr]`
        }
      })
      window.CMS.registerEditorComponent({
        // Internal id of the component
        id: 'topics',

        // Visible label
        label: 'Topics',

        // Pattern to identify a block as being an instance of this component
        pattern: /^topics (\S+)$/,

        // Function to create a text block from an instance of this component
        toBlock: function (obj) {
          return `[topics]`
        }
      })
      window.CMS.registerEditorComponent({
        // Internal id of the component
        id: 'faq',

        // Visible label
        label: 'FAQ',

        // Pattern to identify a block as being an instance of this component
        pattern: /^faq (\S+)$/,

        // Function to create a text block from an instance of this component
        toBlock: function (obj) {
          return `[faq]`
        }
      })
    </script>
  </body>
</html>
