---
pagination:
  data: content
  size: 1
  alias: content
layout: layouts/base.njk
permalink: 404.html
---

{% module "header", {
  navigation: mainNav,
  permalink: '404'
} %}

<article class="text-page">
  {% module 'page-header-simple', {
    title: errorPage.pageHeader.title,
    text: errorPage.pageHeader.text
  } %}

  <section class="text-page__content">
    {% set asHTML = errorPage.content.text | markdown | safe %}
    {% wysiwyg asHTML, {
      quotes: quotes,
      timeline: timeline,
      content: content,
      pjotr: pjotr,
      topics: homePage.mainTopics.topics,
      faq: faq,
      getAcquainted: getAcquainted,
      getAcquaintedSingleButton: getAcquaintedSingleButton,
      pagesPreview: pagesPreview
    } %}
  </section>

</article>
