---
pagination:
  data: content
  size: 1
  alias: content
layout: layouts/base.njk
permalink: '/cookiebeleid/'
eleventyComputed:
  title: '{{ cookies.meta.title }}'
  description: '{{ cookies.meta.description }}'
---

{% module "header", {
  navigation: mainNav,
  permalink: 'cookiebeleid'
} %}

<article class="text-page">
  {% module 'page-header-simple', {
    title: cookies.pageHeader.title,
    text: cookies.pageHeader.text
  } %}


  <section class="text-page__content">
    <script id="CookieDeclaration" src="https://consent.cookiebot.com/3022972b-2588-4d97-939e-0a97d7c85b39/cd.js" type="text/javascript" async></script>
    {{ cookies.content.text | markdown | safe }}
  </section>

</article>
