---
pagination:
  data: content
  size: 1
  alias: content
layout: layouts/base.njk
permalink: '/cookiebeleid/'
eleventyComputed:
  title: '{{ cookies.meta.title }}'
  description: '{{ cookies.meta.description }}'
---

{% module "header", {
  navigation: mainNav,
  permalink: 'cookiebeleid'
} %}

<article class="text-page">
  {% module 'page-header-simple', {
    title: cookies.pageHeader.title,
    text: cookies.pageHeader.text
  } %}

  <section class="text-page__content">
    {{ cookies.content.text | markdown | safe }}
  </section>

</article>
