---
pagination:
  data: content
  size: 1
  alias: content
layout: layouts/base.njk
eleventyComputed:
  title: '{{ comingSoon.meta.title }}'
  description: '{{ homePage.meta.description }}'
---

{# {% module "header", {
  navigation: mainNav,
  permalink: 'home'
} %} #}

<article class="text-page">
  {% module 'page-header-simple', {
    title: comingSoon.pageHeader.title,
    text: comingSoon.pageHeader.text
  } %}

  <section class="text-page__content">
    {{ comingSoon.content.text | markdown | safe }}
  </section>

</article>
