---
pagination:
  data: content
  size: 1
  alias: content
layout: layouts/base.njk
---

<article>
  {% module 'page-header', {
    title: homePage.pageHeader.title,
    text: homePage.pageHeader.text,
    links: homePage.pageHeader.links
  } %}
</article>

