---
pagination:
  data: content
  size: 1
  alias: content
layout: layouts/base.njk
permalink: '/slaap/'
eleventyComputed:
  title: '{{ sleep.seo.title }}'
  description: '{{ sleep.seo.description }}'
---

{% module "header", {
  navigation: mainNav,
  permalink: 'flexible-content'
} %}

<article class="text-page">
  {# // Make this a flexblock!? #}
  {% module 'page-header-simple', {
    title: "Flexible content",
    text: "All the flexible content blocks"
  } %}

  {% module 'flexible-content', {
    sections: sleep.sections
  } %}

</article>
