---
pagination:
  data: content
  size: 1
  alias: content
layout: layouts/base.njk
permalink: '/test-button-b/'
eleventyComputed:
  title: 'Test button B'
  description: 'Test button B'
---

{% module "header", {
  navigation: mainNav,
  permalink: 'test-button'
} %}

<article class="text-page">
  {% module 'page-header-simple', {
    title: 'Dit is een test pagina met alleen de floating button B!',
    text: 'Dit is een test pagina met alleen de floating button B!'
  } %}

  <div>
    <p>
      Content
    </p>
  </div>
  <div>
    <p>
      Content
    </p>
  </div>
  <div>
    <p>
      Content
    </p>
  </div>
  <div>
    <p>
      Content
    </p>
  </div>
  <div>
    <p>
      Content
    </p>
  </div>
  <div>
    <p>
      Content
    </p>
  </div>
  <div>
    <p>
      Content
    </p>
  </div>
  <div>
    <p>
      Content
    </p>
  </div>
  <div>
    <p>
      Content
    </p>
  </div>
  <div>
    <p>
      Content
    </p>
  </div>
  <div>
    <p>
      Content
    </p>
  </div>
  <div>
    <p>
      Content
    </p>
  </div>
  <div>
    <p>
      Content
    </p>
  </div>
  <div>
    <p>
      Content
    </p>
  </div>
  <div>
    <p>
      Content
    </p>
  </div>
  <div>
    <p>
      Content
    </p>
  </div>
  <div>
    <p>
      Content
    </p>
  </div>
  <div>
    <p>
      Content
    </p>
  </div>

  <!-- Calendly badge widget begin -->
  <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
  <script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
  <script type="text/javascript">window.onload = function() { Calendly.initBadgeWidget({ url: '[https://calendly.com/pjotr-peulen/bellen?primary_color=eb5c36](https://calendly.com/pjotr-peulen/bellen?primary_color=eb5c36)', text: 'Plan een kennismaking', color: '#eb5c36', textColor: '#ffffff', branding: false }); }</script>
  <!-- Calendly badge widget end -->
</div>
